/* Font settings */

@font-face {
	font-family: 'ProximaNova_bold';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
		url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova_reg';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
		url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.bold() {
	font-family: 'ProximaNova_bold' , sans-serif;
}
.reg() {
	font-family: 'ProximaNova_reg' , sans-serif;
}
/* Colors */

@btn-color: #fdb303;
@icon-color: #54a311;
@border-color: #dddddd;
@text: #292929;
@danger: #fb0000;
@light-bg: #f9e9f1;
@light: #fff;

/* Basic settings */

html {
	font-size: 10px;
}

body {
	.reg();
	color: @text;
}

a:hover {
	text-decoration: none;
}

button, input, a, textarea {
	&:focus {
		outline: none;
	}
}

.button {
	background-color: @btn-color;
	border: none;
	padding: 1rem 3rem;
	border-radius: 8px;
	text-transform: uppercase;
	color: @light;
	transition: all 0.4s;

	&:hover {
		background-color: darken(@btn-color, 5%);
		cursor: pointer;
	}
}

.slick-active {
	&:focus {
		outline: none;
	}
}

.arrow {
	position: absolute;
	z-index: 99;
	top: 50%;
	transform: translateY(-50%);
	width: 2rem;
	height: 2rem;
	border: none;
}

.prev {
	left: 0;
	background: #fff url(../img/left-arrow.png) center no-repeat;
}
.next {
	right: 0;
	background: #fff url(../img/right-arrow.png) center no-repeat;
}


/* Typography */

section {
	padding: 10rem 0;
}

/* main */

.main {
	padding: 3rem 0;
	background: #fff url(../img/main-bg.jpg) center center no-repeat;
	background-size: cover;

	&-content {
		margin-top: 8rem;
	}
	&-title {
		margin-bottom: 3rem;
		.bold();
		line-height: 1.4;
		font-size: 4rem;
		text-transform: uppercase;
	}

	&-subtitle {
		margin-bottom: 4rem;
		font-size: 2.4rem;
	}

	&-box {
		display: inline-block;
		margin-bottom: 3rem;
		padding: 1.5rem 2.5rem;
		font-size: 1.8rem;
		text-align: center;
		background-color: @icon-color;
		color: @light;

		strong {
			font-size: 3rem;
		}
	}

	&-trigger {
		display: block;
		.bold();
		font-size: 2.2rem;
		text-transform: uppercase;
	}

	&-form {
		background-color: #fff;
		padding: 2rem 5rem;
		margin-top: 4rem;
		vertical-align: top;

		&-title {
			margin-bottom: 4rem;
			font-size: 1.8rem;
			text-align: center;

			strong {
				font-size: 2rem;
			}
		}

		&-input {
			display: block;
			padding: 1.5rem 1rem;
			margin-bottom: 2.5rem;
			width: 100%;
			border: 1px solid @border-color;
			border-radius: 5px;
		}

		&-label {
			display: inline-block;
			position: absolute;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			background-color: #fff;
		}

		&-button {
			padding: 2rem 5rem;
			width: 100%;
		}

		p {
			margin-top: 1.5rem;
			font-size: 1.2rem;
			text-align: center;
		}
	}
}

.header {
	height: 7rem;
}

.phone {
	&-box {
		text-align: right;
	}
	&-link {
		display: inline-block;
		height: 7rem;
		line-height: 7rem;
		.bold();
		color: @text;
		font-size: 2rem;
	}
}

.wrap {
	display: table;
	width: 100%;
	height: 7rem;

	&-cell {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
}

/* Features */

.features {
	h2 {
		margin-bottom: 10rem;
		.bold();
		text-align: center;
		font-size: 3.6rem;
	}
	&-block {
		text-align: center;
		h3 {
		margin-bottom: 3rem;
		font-size: 2rem;
		.bold();
		}
		p {
			display: inline-block;
			width: 80%;
			font-size: 1.6rem;
			line-height: 1.25;
		}
	}
	&-img {
		height: 8rem;
		margin-bottom: 3rem;
		img {
			display: block;
			margin: 0 auto;
		}
	}
}

/* Modal window */

.popup {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);


	&-form {
		padding: 0;
	}

	&-close {
		position: absolute;
		top: -1.5rem;
		right: -3rem;
		font-size: 3rem;
		border: none;
		background-color: transparent;
		text-align: center;
		color: white;
	}

	&-header {
		.bold();
		font-size: 1.8rem;
	}

	&-content {
		position: fixed;
		left: 50%;
		top: 5%;
		transform: translateX(-50%);
		background-color: @light;
		padding: 4rem 5rem;
		text-align: center;
	}
}

@media (max-width: 991px) {
	.main {
		background-position: top right;
		&-content {
			margin-top: 3rem;
			text-align: center;
		}
	}
	.phone-box {
		text-align: center;
	}
	.slick-active {
		&:focus {
		outline: none;
		}
	}
}

@media (max-width: 767px) {
	.main {
		background-position: top left;

		&-title {
			word-wrap: break-word;
		}
	}
	.logo {
		text-align: center;
	}
	.wrap-cell {
		text-align: center;
	}
	.slick-active {
		&:focus {
		outline: none;
		}
	}
}