* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
.header, .main {
	height: 100vh;
	display: table;
	width: 100%;
	position: relative;
	z-index: 1;
	
}
.wrap {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}
h2 {
	font-size: 50px;
	color: #fff;
}
.header::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}
.main::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.footer {
	position: relative;
}
.box {
	position: absolute;
	top: 0;
	left: 7%;

	
	width: 380px;height: 430px;
	padding: 70px;
	background-color: #c60b0b;
	z-index: 2;
	text-align: center;
	color: white;
}
.box h3 {
	font-size: 1.875rem;
	font-weight: 400;
}
.box p {
	margin-bottom: 30px;
}
.map {
	z-index: 1;
}
.down-footer {
	padding: 20px 0 0 0;
}
.tel {
	font-size: 1.375rem;/* Приближение из-за подстановки шрифтов */
font-weight: 600;
}